.worker-layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $color-gray-25;

  &__container {
    width: 100%;
    min-height: 100vh;
    background: $color-white;
    margin: 0 auto;
    max-width: 100%;
    transition:
      width $transition-duration ease,
      max-width $transition-duration ease,
      transform $transition-duration ease,
      box-shadow $transition-duration ease;
    will-change: max-width, transform;

    @media (min-width: $breakpoint-tablet) {
      max-width: $container-max-width;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transform: translateZ(0);
    }
  }
}